h1 {
    border: 2px solid black;
    background-color: green;display:flex;width: 50vw; height: 100px; margin:20px 350px;justify-content:center;align-items: center;
    
}

h2{
    border: 2px solid black;
    background-color:yellow;display: flex;width: 50vw; height: 100px; margin:20px 350px;justify-content:center;align-items:center;
    
}